:root {
  --background-primary: $main;
  --background-secondary: $main;
  --background-tertiary: $main;
  --background-floating: #362f14;
  --text-muted:#494226;
  --interactive-muted:#665c36;
  --scrollbar-auto-thumb:#485502;
  --scrollbar-auto-track:#1b1302;
  --scrollbar-thin-thumb:#485502;
  --background-modifier-accent:#485502;
}

@font-face {
  font-family: Condense;
  src: local("Tw Cen MT Condensed Extra Bold");
}

/*
@font-face {
	font-family: Earth;
	font-size-adjust: 20px;
	src:local("Earth's Mightiest Bold");
}*/
* {
  font-family: Condense !important;
}

/* url("https://cdn.discordapp.com/attachments/699846518542172190/854601391271575552/Poster_Yellow.png") */
.scroller-2LSbBU {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.7))), url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Poster_Cyan.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Poster_Cyan.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*margin-bottom: -60px; */
}

.username-1A8OIy {
  /*font-family: Earth !important;*/
  -webkit-text-stroke: 0.1px #918585;
}

.timestamp-3ZCmNB {
  color: white;
}

.form-2fGMdU::before {
  opacity: 0;
}

.form-2fGMdU {
  background-image: #070707;
}

.timestamp-3ZCmNB {
  color: #c9c9c9 !important;
}

.scrollableContainer-2NUZem {
  background-color: #0A0A0A;
  border-width: 2px;
  border-style: solid;
  border-color: #afafaf;
  border-radius: 0%;
}

.container-3baos1 {
  background-color: #0A0A0A;
  border-width: 2px;
  border-style: solid;
  border-color: #afafaf;
}

.peopleColumn-29fq28 {
  background-color: #1b1302;
}

.avatar-1BDn8e {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Search.png"), no-repeat;
  width: 40px;
  height: 40px;
  padding-left: 40px;
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/10"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic1.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/11"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic1.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/12"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic2.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/13"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic2.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/14"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic3.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/15"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic4.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/16"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic4.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/17"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic5.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/18"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic5.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/19"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic6.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/20"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic1.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/21"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic1.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/22"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic2.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/23"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic2.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/24"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic3.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/25"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic4.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/26"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic4.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/27"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic5.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/28"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic5.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/29"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic6.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/3"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Ivy.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/4"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Striped.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/5"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Albino.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/6"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Fish1.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/7"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Fish1.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/8"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Water.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/9"][src$="?size=128"] {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Digital.png"), no-repeat;
  /* returns a URL based on what the color of the username is */
  width: 40px;
  /* Width of new image */
  height: 40px;
  /* Height of new image */
  padding-left: 40px;
  /* Equal to width of new image */
  border-radius: 0%;
}
/*# sourceMappingURL=input.css.map */