
@use './avatar_data.scss';

:root {
	--background-primary: #1b1302;
	--background-secondary: #1b1302;
	--background-tertiary: #362f14;
	--background-floating: #362f14;
	--text-muted:#494226;
	--interactive-muted:#665c36;
	--scrollbar-auto-thumb:#485502;
	--scrollbar-auto-track:#1b1302;
	--scrollbar-thin-thumb:#485502;
	--background-modifier-accent:#485502;
}

@font-face {
	font-family: Condense;
	src:local("Tw Cen MT Condensed Extra Bold");
}

// these are horrifying links, so i have chosen to make them defines
// fyi: because these files are injected, we cannot use local references

//No category
$UnfoundGooball:   'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Search.png';
//10-14, 20-24
$GenericGooball_1: 'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic1.png';
$GenericGooball_2: 'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic2.png';
$GenericGooball_3: 'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic3.png';
//15-19, 25-29
$GenericGooball_4: 'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic4.png';
$GenericGooball_5: 'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic5.png';
$GenericGooball_6: 'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Generic6.png';
//3
$IvyGooball:    'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Ivy.png';
//4
$StripedGooball:    'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Striped.png';
//5
$AlbinoGooball:    'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Albino.png';
//6
$FishGooball_1:    'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Fish1.png';
//7
$FishGooball_2:    'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Fish1.png';
//8
$WaterGooball:	   'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Water.png';
//9
$DigitalGooball:   'https://raw.githubusercontent.com/tralezab/discordcss/master/themes/InformationSuperhighway/Gooballs/Digital.png';

/*
@font-face {
	font-family: Earth;
	font-size-adjust: 20px;
	src:local("Earth's Mightiest Bold");
}*/

* { 
	font-family: Condense !important;
}

/* url("https://cdn.discordapp.com/attachments/699846518542172190/854601391271575552/Poster_Yellow.png") */

.scroller-2LSbBU {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url("https://cdn.discordapp.com/attachments/699846518542172190/854601391271575552/Poster_Yellow.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*margin-bottom: -60px; */
}

.username-1A8OIy{
	/*font-family: Earth !important;*/
	-webkit-text-stroke: 0.1px rgb(145, 133, 133);
}

.timestamp-3ZCmNB{
	color:white;
}

.form-2fGMdU::before {
	opacity: 0;
}

.form-2fGMdU {
	background-image: conic-gradient( #0D0904 30%, #1C150A 70%);
}

.timestamp-3ZCmNB{
	color:rgb(201, 201, 201) !important;
}

.scrollableContainer-2NUZem {
	background-color:#0A0A0A;
	border-width: 2px;
	border-style: solid;
	border-color: #afafaf;
	border-radius: 0%;
}

.container-3baos1{
	background-color: #0A0A0A;
	border-width: 2px;
	border-style: solid;
	border-color: #afafaf;
}

.peopleColumn-29fq28{
	background-color: #1b1302;
}

// fallback avatar, all pfps should be this if they don't match with the below catchers
.avatar-1BDn8e{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($UnfoundGooball), no-repeat;
	width: 40px;
	height: 40px;
	padding-left: 40px;
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/10"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_1), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/11"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_1), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/12"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_2), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/13"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_2), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/14"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_3), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/15"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_4), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/16"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_4), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/17"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_5), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/18"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_5), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/19"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_6), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/2"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_2), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/25"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_4), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/27"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_5), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/28"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_5), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/29"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($GenericGooball_6), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/3"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($IvyGooball), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/4"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($StripedGooball), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/5"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($AlbinoGooball), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/6"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($FishGooball_1), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/7"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($FishGooball_2), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/8"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($WaterGooball), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}

[src*="https://cdn.discordapp.com/avatars/9"][src$="?size=128"]{
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url($DigitalGooball), no-repeat; /* returns a URL based on what the color of the username is */
	width: 40px; /* Width of new image */
	height: 40px; /* Height of new image */
	padding-left: 40px; /* Equal to width of new image */
	border-radius: 0%;
}
