
* { 
	font-family: "Minnie" !important;
}

.scroller-2LSbBU {
	background-image: url("https://cdn.discordapp.com/attachments/590280000977240105/795963507816136704/unknown.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.username-1A8OIy{
	font-family: "Minnie" !important;
}

.contents-2mQqc9{
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

*/